name: "Terraform Deploy"
on:
  workflow_dispatch:
  push: 
    branches:
      - 3.0/usingTerraform

  pull_request:
    types: [opened, edited, synchronize]
    branches:
      - 3.0/usingTerraform
    
jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest
    env:
        CLIENT_ID: ${{ secrets.CLIENT_ID }}
        CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
        AZ_SUSCRIPTION_ID: ${{ secrets.AZ_SUSCRIPTION_ID }}
        TENANT_ID: ${{ secrets.TENANT_ID }}
        
    steps:
      - name: "Checkout"
        uses: actions/checkout@master
        
      - name: Terraform Init
        run: terraform init

      - name: "Terraform Validate"
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan
          
      - name: "Terraform Apply"
        run: terraform apply
       