name: "Terraform Deploy"
on:
  workflow_dispatch:
  push: 
    branches:
      - terraformMaster

  pull_request:
    types: [opened, edited, synchronize]
    branches:
      - terraformMaster
    
jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        
    steps:
      - name: "Checkout"
        uses: actions/checkout@master
        
      - name: "Azure Login"
        uses: Azure/login@v1.1
        with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Terraform Init
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.13
          tf_actions_subcommand: "init"
          tf_actions_working_dir: "./terraform"
          tf_actions_comment: true

      - name: "Terraform Validate"
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.13
          tf_actions_subcommand: 'validate'
          tf_actions_working_dir: "./terraform"
          tf_actions_comment: true

      - name: "Terraform Plan"
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.13
          tf_actions_subcommand: "plan"
          tf_actions_working_dir: "./terraform"
          tf_actions_comment: true
          
      - name: "Terraform Apply"
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.13
          tf_actions_subcommand: "apply"
          tf_actions_working_dir: "./terraform"
          tf_actions_comment: true