name: "Terraform Deploy"
on:
  workflow_dispatch:
  push: 
    branches:
      - 3.0/usingTerraform

  pull_request:
    types: [opened, edited, synchronize]
    branches:
      - 3.0/usingTerraform
    
jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest
    env:
        CLIENT_ID: ${{ secrets.CLIENT_ID }}
        CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
        AZ_SUSCRIPTION_ID: ${{ secrets.AZ_SUSCRIPTION_ID }}
        TENANT_ID: ${{ secrets.TENANT_ID }}
        
    steps:
      - name: "Checkout"
        uses: actions/checkout@master
        
      - name: "Terraform Init"
        uses: hashicorp/setup-terraform@v1
        with:
          tf_actions_version: 0.13
          tf_actions_subcommand: "init"
          tf_actions_working_dir: "terraform"
          tf_actions_comment: true

      - name: "Terraform Validate"
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.13
          tf_actions_subcommand: "validate"
          tf_actions_working_dir: "terraform"
          tf_actions_comment: true

      - name: "Terraform Plan"
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.13
          tf_actions_subcommand: "plan"
          tf_actions_working_dir: "terraform"
          tf_actions_comment: true
          
      - name: "Terraform Apply"
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.13
          tf_actions_subcommand: "apply"
          tf_actions_working_dir: "terraform"
          tf_actions_comment: true
       
